@tailwind base;
@tailwind components;
@tailwind utilities;


  :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-card : rgb(220 252 231);
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-card : #dcfce766;
  }
}

/* body {
  color: rgb(var(--foreground-rgb)); 
  background: linear-gradient(rgba(29, 73, 38, 0.463), rgba(14, 109, 57, 0.752));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); 
} */

.card {
  background-color: var(--background-card);
}

/* Customized the scrollbar behaviour */
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

